* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000   ;
}

.links a{
    text-decoration: none;
}

.links {
    margin-top: 2rem;
    padding: 3rem;
}